.hide_ele{
    display: none;
}

.popover{
    z-index: 9999 !important;
}

.blockquote::before,
.blockquote::after {
   content: "“";
   font-family: Georgia;
   font-size: 3rem;
   margin: -1rem 0 0 -1.3rem;
   position: absolute;
   opacity: 0.6;
}

.blockquote::after {
    content: "”";
    margin: 0.5rem -4rem 0 0;
 }

.populate_case_type:hover{
    cursor: pointer;
}

.thank-you-header{
    text-align: center;
    background-color:#040C5E; 
    box-shadow: 2px 2px 2px 2px #f7ab4e;
}

.thank-you-accident-logo{
    padding: 13px 0px 13px 0px;
}

#start_eval{
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-size: 0.875rem;
    border: 0;
    padding: 0 25px;
    height: 50px;
    cursor: pointer;
    outline: none;
    width: 100%;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-color: #004dda;
    margin-right: -1px;
    text-transform: uppercase;
}
#start_eval:hover {
    background-color: #FFC107;
    color: #222;
}

#submitv2{
    color: #ffffff;
    background-color: #ff9800;
    width: 100%;
    cursor: pointer;
    font-size: 0.875rem;
    border-radius: 6px!important;
    border: 0;
    padding: 0 25px;
    height: 43px;
    outline: none;
}

#submitv2:hover {
    background-color: #FFC107;
    color: #222;
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none !important;
    -moz-appearance:none !important;
    appearance:none !important;
    background: none !important;
    border: none !important;
    touch-action: manipulation;
}
.auto-injury{background-image:url(../images/icons/accidentCom_auto_accident_orange.png);-webkit-transform: translateZ(0);}
.medical-injury{background-image:url(../images/icons/accidentCom_medical_orange.png);-webkit-transform: translateZ(0); }
/*.personal-injury{background-image:url(../images/icons/Personal_injury_orange.png);-webkit-transform: translateZ(0); }*/
.personal-injury{background-image:url(../images/icons/accidentCom_injury_orange.svg);-webkit-transform: translateZ(0); }
.product-injury{background-image:url(../images/icons/accidentCom_product_liability_orange.png);-webkit-transform: translateZ(0); }
.worker-injury{background-image:url(../images/icons/accidentCom_workers_orange.png);-webkit-transform: translateZ(0); }
.wrongful-injury{background-image:url(../images/icons/accidentCom_wrongful_death_orange.png);-webkit-transform: translateZ(0); }
.slip-and-fall-injury{background-image:url(../images/icons/accidentCom_slip_and_fall_orange.png);-webkit-transform: translateZ(0); }

.car-accident{background-image:url(../images/icons/accidentCom_car_orange.svg);-webkit-transform: translateZ(0);}
.bicycle-accident{background-image:url(../images/icons/accidentCom_cycle_orange.svg);-webkit-transform: translateZ(0); }
.pedestrian-accident{background-image:url(../images/icons/accidentCom_injury_orange.svg);-webkit-transform: translateZ(0); }
.work-related-accident{background-image:url(../images/icons/accidentCom_workR_orange.svg);-webkit-transform: translateZ(0); }
.truck-accident{background-image:url(../images/icons/accidentCom_truck_orange.svg);-webkit-transform: translateZ(0); }
.motorcycle-accident{background-image:url(../images/icons/accidentCom_motorcycle_orange.svg);-webkit-transform: translateZ(0); }




.cc-selector input:active +.drinkcard-cc{opacity: .9 !important;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none !important;
       -moz-filter: none !important;
            filter: none !important;
}
.drinkcard-cc{
    touch-action: manipulation;
    cursor:pointer;
    background-size:contain !important;
    background-repeat:no-repeat !important;
    display:inline-block !important;
    width:100px !important;height:70px !important;
    -webkit-transition: all 100ms ease-in !important;
       -moz-transition: all 100ms ease-in !important;
            transition: all 100ms ease-in !important;
    -webkit-filter:  grayscale(1) opacity(.7) !important;
       -moz-filter:  grayscale(1) opacity(.7) !important;
            filter:  grayscale(1) opacity(.7) !important;

        /* -webkit-filter: brightness(1.8) grayscale(1) opacity(.7) !important;
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7) !important;
        filter: brightness(1.8) grayscale(1) opacity(.7) !important; */
}
.drinkcard-cc:hover{
    -webkit-filter: opacity(.9) !important;
       -moz-filter:  opacity(.9) !important;
            filter:  opacity(.9) !important;

     /*        -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9) !important;
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9) !important;
            filter: brightness(1.2) grayscale(.5) opacity(.9) !important; */
}



#case_type_wizard{
    columns: 2;
}

#case_type_wizard label{
    /* padding-top: 14px; */
    margin-left: 20px;
}

#case_type_wizard label:before{
    content: none;
}

#case_type_wizard label:after{
    content: none;
}

.caption {
    display: block;
    padding-top: 7px;
}
#case_type_wizard li{
    color:black;
    text-align: center;
}

@media screen and (max-width: 992px){
    #wizard_container, #wizard_containerv2 {
        padding-top: 0px !important;
        width: 100%;
    }
}

@media screen and  (min-width: 992px) and (max-width: 1025px){
    #wizard_container, #wizard_containerv2 {
        padding-top: 50px;
        width: 400px;
        padding-right: 33px;
    }

    .content-right-wrapper {
        display: flex;
        height: 100%;
        min-height: 100%;
        padding: 60px 90px 35px 36px;
        position: relative;
    }
}

@media screen and (max-width: 350px){
    #case_type_wizard li {
        font-size: 12px;
    }
}

.auto-accident-icon-wizard {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/auto_accident-80.png);
    background-repeat: no-repeat;
}
.med-malpractice-icon-wizard {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/medical-80.png);
    background-repeat: no-repeat;
}
.personal-injury-icon-wizard {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/personal_injury-80.png); 
    background-repeat: no-repeat;
}
.workers-comp-icon-wizard {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/workers_comp-80.png);
    background-repeat: no-repeat;
}
.prod-liability-icon-wizard {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/product_liability-80.png);
    background-repeat: no-repeat;
}
.wrongful-death-icon-wizard {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/workers_comp-80.png);
    background-repeat: no-repeat;
}

@media (max-width: 425px) {
    .drinkcard-cc {
        width: 70px !important;
        height: 55px !important;
    }
}