/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Jan, 2019, 12:39:06 PM
    Author     : shailesh
*/

body, html {
    font-family: 'Poppins', serif !important;
}
.page-wrapper {
    padding-left: 0px;
    padding-right: 0px;
}
/*header {
    padding-bottom: 30px;
}*/
.accident-logo {
    height: 66px;
    width: 252px;
    background-image: url(../images/accident_logo_small.png);
    background-repeat: no-repeat;
}
.bg-accident-deepnavy {
    background: #040c5e !important;
}
.bg-manatee {
    background: #8484a9 !important;
}
.text-color-deepnavy {
    color: #8484a9;
}
.text-color-manatee {
    color: #8484a9;
}
.footer-font-small {
    font-size: 0.8rem;
}

.hero_p{
    font-size: 15px !important;
}
/*.footer-font-xtra-small {
    font-size: 0.8rem;
}*/
.main-menu {
    display: inline-block;
    color: #fff;
    padding: 0 8px 15px 8px;
    font-size: 0.875rem;
    font-weight: 500;
}
.heading {
    color: #fff;
    font-weight: 600;
    padding-bottom: 30px;
    text-align: center;
}
.sub-heading {
    color: #f39c00;
    padding-bottom: 20px;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
}
.start-eval {
    background: #fff;
    border-radius: 5px;
    padding: 24px;
}
.start-eval .case-type {
    text-align: center;
}
.start-eval .case-type span {
    color: #000;
    font-weight: 400;
}
.start-eval h1 {
    /*text-transform: uppercase;*/
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
    width: 100%;
    /*margin: 0 0 1rem 1rem;*/

    margin: 0 0 1.1rem;
    text-align: center;
    /*font-size: 1.5rem;*/
    color: #040c5e;
}
.start-eval h2.heading-2 {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
    /*margin: 0 0 1rem 1rem;*/
}

.start-eval ul li {
    padding: 10px;
    text-align: center;
}
/*.start-eval ul li:not(:last-child) {
    margin-right: 30px;
}*/
.start-eval ul li span {
    color: #000;
    font-weight: 400;
}
.auto-accident-icon-orange {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/accidentCom_auto_blue.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.med-malpractice-icon-orange {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/accidentCom_medical_blue.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.personal-injury-icon-orange {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/accidentCom_injury_blue.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.workers-comp-icon-orange {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/accidentCom_workers_comp_blue.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.prod-liability-icon-orange {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/accidentCom_product_liability_blue.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.wrongful-death-icon-orange {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/accidentCom_wrongful_death-blue.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.slip-and-fall-blue {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/accidentCom_slip_and_fall_blue.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}

/* Auto-Injury-Icons-START */
.car-accident-icon-blue {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/accidentCom_car_blue.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.bicycle-accident-blue {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/accidentCom_cycle_blue.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.motor-accident-blue {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/accidentCom_motorcycle_blue.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}

.truck-accident-blue {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/accidentCom_truck_blue.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.ped-accident-blue {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/accidentCom_injury_blue.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.work-related-accident-blue {
    height: 120px;
    width: 120px;
    background-image: url(../images/icons/accidentCom_workR_blue.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}
/* Auto-Injury-Icons-END */

.custom-search-input-2 {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
}
.custom-search-input-2 .form-group {
    margin: 0;
}
.custom-search-input-2 input {
    border: 0;
    height: 50px;
    padding-left: 15px;
    border-right: 1px solid #d2d8dd;
    font-weight: 500;
}
.custom-search-input-2 i {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 18px;
    font-size: 1.125rem;
    position: absolute;
    background-color: #fff;
    line-height: 50px;
    top: 1px !important;
    right: 1px;
    padding-right: 15px;
    display: block;
    width: 20px;
    box-sizing: content-box;
    height: 48px;
    z-index: 9;
    color: #999;
}
.legal-areas-title {
    color: #040c5e;
    width: 100%;
    font-weight: 600;
    text-align: center;
    /*margin-bottom: 2rem;*/
}
.short-underline {
    width: 100%;
}
.short-underline hr {
    width: 15%;
    color: #a3e6ff;
    border-top: 9px solid #a3e6ff;
    margin: 1rem auto;
    margin-bottom: 2.5rem;
}
.legal-area .card {
    border-radius: 8px;

    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); 
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.legal-area .logo {
    margin: 0 auto;
}
.legal-area .card-title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #040c5e;
}
.legal-area ul li {
    padding-bottom: 4px;
    /*padding-left: 51px;*/
}
.legal-area ul li:before {
    text-align: center;
    content: url(../images/checked.png);
    padding-right: 6px;
    position: relative;
    top: 1px;
}
.legal-area ul li a {
    color: #000;
}
/* common legal areas on hover */
.toggle-hover-description.legal-area .card {
    transition: all .3s ease-out;
}
/*.toggle-hover-description.legal-area .card:hover {
    transition: all .3s ease-out;
    background: linear-gradient(to top, #040c5e 0%, #99ccff 100%);
    color: #FFFFFF;
    text-align: justify;
    box-shadow: 1px 3px 19px rgb(144, 144, 144) inset;
}*/
/*.toggle-hover-description.legal-area .card:hover .card-title {
    color: #FFFFFF;
    font-weight: 600;
}*/

.toggle-hover-description .legal-area-image .logo {
    opacity: 1;
    transition: all .3s ease-in-out;
    transform: scale(1)  translateY(0%);
}
.toggle-hover-description .card:hover .legal-area-image .logo {
    opacity: 0;
    transition: all .3s ease-in-out;
    transform: scale(0)  translateY(0%);
}
.toggle-hover-description .card .card-title {
    transition: all .4s ease-in-out;
    /*transform: translateY(0%);*/
}
.toggle-hover-description .card:hover .card-title {
    transition: all .3s ease-in-out;
    transform: translateY(-345%);
}
.toggle-hover-description .legal-area-info {
    opacity: 1;
    transition: all .3s ease-in-out;
    transform: scale(1)  translateY(0%);
}
.toggle-hover-description .card:hover .legal-area-info {
    opacity: 0;
    transition: all .2s ease-in-out;
    transform: scale(0)  translateY(0%);
}
.toggle-hover-description .card .legal-area-description {
    opacity: 0;
    height: 0;
    /*overflow: hidden;*/
    transition: all .2s ease-in-out;
    transform: translateY(0%);
    position: relative;
    top: -123px;
    font-size: 1rem;
    color: #000;
}
.toggle-hover-description .card:hover .legal-area-description {
    opacity: 1;
    height: auto;
    /*transition: all .3s ease-in-out;*/
    transition: all .4s ease-in-out;
    transition-delay: .1s;
    transform: translateY(-40%);
}
/**/
.ask-attorney {
    /*display: inline-flex;*/
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
.ask-attorney .first-half {
    margin-right: 4px;
}
.ask-attorney .second-half {
    color: #535c93;
}
.ask-attorney button {
    color: #ffffff;
    border-width: 0px!important;
    border-radius: 6px!important;
    font-size: .7em!important;
    background-color: #ff9800;
    margin-top: 0px!important;
    margin: 0 26px;
    margin-bottom: 15px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.ask-attorney button:hover {
    background-color: #FFC107;
    color: #222;
}

.resource-center .title {
    color: #040c5e;
    font-weight: 600;
    font-size: 20px;
}
.resource-center .content {
    color: #343434;
    font-size: 13px;
}
.articles-resource-center {
    background: #f9f9f9;
}
.hiw {
    background-color: #f9f9f9 !important;
}
.hiw .short-underline hr {
    width: 9%;
}
.hiw .hiw-title {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: #040c5e;
    text-align: center
}
.hiw-box {
    display: inline-flex;
}
.hiw-box div i {
    color: #fff;
    font-size: 60px;
    font-size: 4.75rem;
    margin-top: 2px;
    margin-right: 10px;
    color: #ff9800;
}
.hiw-box-content h2 {
    font-size: 1.5rem;
    font-weight: 500;
}
.hiw-box-content p {
    color: #343434;
    font-size: 13px;
}
.carousel-swipe {
    display: none;
}
footer .seperator {
    border-color: #8484a9 !important;
}
footer ul li a,
footer .contact-email {
    color: #fff !important;
}
.start-eval input:checked +.drinkcard-cc {
    -webkit-filter: none !important;
    -moz-filter: none !important;
    filter: none !important;
}


/*.dropdown-menu a:hover {background-color: #040c5e;}
.dropdown:hover .dropdown-menu {
    display: block;
    position: relative;
    right: 20%;
}
.dropdown:hover .dropdown-toggle {background-color: rgba(255,255,255,.1);}
.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #6fa1cd;
}*/

.navbar-dark .navbar-toggler {
    border-color: rgba(0,0,0,0);
}
.navbar-dark .navbar-toggler:focus {
    outline: none;
}
.collapse:not(.show) {
    /*background-color: #323dba;*/
}
.navbar-collapse.show {
    background-color: #323dba;
    padding: 15px 8px;
}
.collapse:not(.show) ul .nav-item .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar .collapse ul li:active {
    background-color: rgba(255,255,255,.1);
    transition : background-color 0.5s ease 0s;
}
.navbar .collapse ul li a.nav-link {
    color: #fff !important;
}
.navbar .collapse ul li a.nav-link:hover {
    color: rgba(255,255,255,.5) !important;
}
.navbar .collapse ul li.active .nav-link {
    background-color: rgba(255,255,255,.1);
}
/*header .container nav.fixed-top {
    right: auto;
    left: 0 !important;
}*/

.opaque-navbar{
    background-color: #fff;
  /*border-bottom:1px solid #eee;*/
    transition : background-color 0.5s ease 0s;
}
.opaque-navbar.opaque {
    /*background-color: #040C5E;*/
    border: 0px;
    transition: background-color .5s ease 0s;
    border-bottom:1px #DADADA solid;
    /*border-color: #DADADA;*/
}

.start-eval input[type="radio"] {
    margin:0;padding:0;
    -webkit-appearance:none !important;
    -moz-appearance:none !important;
    appearance:none !important;
}
.case-type label {
    margin-left: 20px;
}
.hero-form input + i {
    top: 1px !important;
    z-index: 1;
}
.nice-select {
    border: none !important;
    height: 50px !important;
    line-height: 48px !important;
}

#accident_auto_wizardv2 .nice-select:focus{
    box-shadow: 0px 0px 2px 2px orange;
}

#accident_auto_wizard .nice-select:focus{
    box-shadow: 0px 0px 2px 2px orange;
}
#mainHeroForm .nice-select:focus{
    box-shadow: 0px 0px 2px 2px orange;
}

#accident_auto_wizardv2 .nice-select {
    border: 1px solid #d2d8dd !important;
    height: 42px !important;
    line-height: 40px !important;
}
#accident_auto_wizardv2 .form-zip {
    margin-bottom: 0.3rem;
}
#accident_auto_wizardv2 .nice-select {
    margin-bottom: 0.5rem;
}

#accident_auto_wizard .nice-select {
    border: 1px solid #d2d8dd !important;
    height: 42px !important;
    line-height: 40px !important;
}
#accident_auto_wizard .form-zip {
    margin-bottom: 0.3rem;
}

#accident_auto_wizard .nice-select {
    margin-bottom: 0.5rem;
}
.custom-search-input-2 input[type='submit'] {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-size: 0.875rem;
    border: 0;
    padding: 0 25px;
    height: 50px;
    cursor: pointer;
    outline: none;
    width: 100%;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-color: #ff9800;
    margin-right: -1px;
    text-transform: uppercase;
}
.custom-search-input-2 input[type='submit']:hover {
    background-color: #004dda;
    color: #fff;
}
.main-header-wrap .icon-get-started {
    display: none;
}
/*@media (max-width: 319px) {
    .accident-type-logos .col-md-2 {
        width: 100% !important;
    }
}*/
@media (max-width: 1024px) {
    .start-eval h1.heading-2
/*    #wizard_containerv2 .main_question,
    #middle-wizard .wizard-step h3*/
    {
        margin: 0 0 1.3rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: #040c5e;
    }
}
@media (max-width: 320px) {
    #accident_auto_wizardv2 .step h3,
    #middle-wizard .wizard-step h3 {
        font-size: 1.2rem !important;
    }
    #middle-wizard .wizard-step h3 {
        font-size: 1.1rem !important;
    }
    /*    .accident-type-logos .col-md-2 {
            width: 100% !important;
        }*/
    .case-type label {
        margin-left: 0px !important;
    }
    .case-type a span {
        font-size: 10px;
    }
    .case-type-m span {
        font-size: 11px;
    }
}
@media (max-width: 375px) {

}
@media (max-width: 425px) {
    .start-eval {
        padding: 10px 24px;
    }
    .start-eval h1.heading-2,
    #wizard_containerv2 .main_question,
    #middle-wizard .wizard-step h3 {
        margin: 0 0 1.3rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
        color: #040c5e;
    }
    .start-eval .row.my-4 {
        margin-top: .5rem!important;
        margin-bottom: 0rem!important;
    }
    .start-eval .row.my-4 .container {
        padding-bottom: .5rem!important;
    }
    section .headings {
        display: none;
    }
    .content-bgz {
        /*background-color: #fff !important;*/
        padding-top: 77px !important;
    }
    .content-bgz .container {
        padding-bottom: .5rem!important;
    }
    .case-type label {
        margin-left: 10px;
    }
    .main-header-wrap .main-header {
        background: #fff !important;
    }
    /*    .main-header-wrap .text-get-started {
            display: none;
        }
        .main-header-wrap .icon-get-started {
            display: block;
        }*/
    .accident-logo {
        background-image: url(../images/accident_logo_small_blue.png) !important;
    }
    .main-header-wrap.header-mobile .main-header .logo img {
        content: url(../images/accident_logo1.png) !important;
        width: 61% !important;
    }
    .main-header-wrap.header-mobile .main-header .logo img {
        /*margin-left: 36%;*/
    }
    .main-header-wrap .main-header .logo {
        left: 25% !important;
    }
    .main-header-wrap.header-mobile .main-header .btn-menu-toggle {
        position: absolute !important;
        left: auto !important;
        right: 15px !important;
        z-index: 0 !important;
    }
}
@media (min-width: 320px) and (max-width: 425px) {
    .hiw-box div i {
        font-size: 3.75rem;
        margin-top: 0;
    }
    .accident-logo {
        background-image: url(../images/accident_logo_small.png);
        height: 31px;
        width: 160px;
    }
}
@media (min-width: 375px) and (max-width: 425px) {
    .case-type a span {
        font-size: 12px;
    }
}
@media (min-width: 320px) and (max-width: 768px) {
    .ask-attorney span {
        display: block;
    }
    .ask-attorney button {
        margin-top: 1.5rem !important;
    }
    .footer-links h6 {
        margin-bottom: 2rem !important;
    }
    .footer-links div {
        margin-top: 2rem !important;
    }
    .footer-links{
        text-align: center;
    }
}
@media (min-width: 425px) and (max-width: 768px) {
    .hiw-box {
        margin-bottom: 15px;
    }
    .hiw-box div i {
        font-size: 4rem;
        margin-top: 0;
    }

    /*    .navbar-toggler {
            float: left !important;
        }*/
}
@media (min-width: 768px) and (max-width: 991px) {
    .case-type label {
        margin-left: 6px;
    }
}
@media (max-width: 991px) {
    /*    .hiw-box div:first-child {
            margin-left: auto;
        }
        .hiw-box div:last-child {
            margin: 0 auto;
            margin-left: 0;
        }*/
    .common-legal-areas {
        display: none;
    }
    .carousel-swipe {
        display: block;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .custom-search-input-2 .form-group {
        margin-bottom: 5px !important;
    }
    .custom-search-input-2 {
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .custom-search-input-2 input[type='submit'] {
        margin: 20px 0 0 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
    }
    .custom-search-input-2 input,
    .nice-select {
        border: 1px solid #d2d8dd !important;
    }
    .custom-search-input-2 i {
        padding-right: 3px !important;
    }
    /*    .accident-type-logos {
            display: none;
        }*/
    .ask-attorney button {
        margin-top: 15px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .custom-search-input-2 input[type='submit'] {
        font-size: 13px;
        padding: 0 13px;
    }
}
@media (max-width: 767px) {
    .wizard-container {
        width: 100%;
    }
    .accident-type-logos .col-md-2 {
        width: 50%;
    }
}
@media (max-width: 768px) {
    .navbar .nav-item .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media (min-width: 769px) {
    .start-eval .heading-2 {
        display: none;
    }
    .start-eval .heading-1 {
        font-size: 1.3rem !important;
        color: #040c5e !important;
        text-align: center;
        margin-bottom: 1rem !important;
    }
}

@media (max-width: 576px) {
    /*    .main-first-box .heading,
        .main-first-box .sub-heading {
            padding-left: 1rem;
            padding-right: 1rem;
        }*/
    .start-eval {
        margin-left: 2px;
        margin-right: 2px;
    }
}

.main-header-wrap {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    /*overflow-x: hidden;*/
    background: transparent;
    box-shadow: none;
}
.main-header-wrap .main-header {
    background: #040c5e;
    padding: 0 25px;
    height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px transparent solid;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.main-header-wrap .main-header li a {
    /*color: #000 !important;*/
}
.main-header-wrap.header-desktop .main-header .header-menu {
    position: absolute;
    top: 25px;
    left: 25px;
}
/*.main-header-wrap.header-desktop .main-header {
    overflow: hidden;
}*/
.main-header-wrap.header-desktop .main-header .header-menu li {
    display: inline-block;
    padding: 5px 5px;
    color: #fff;/* #B7B7B7; */
}
.main-header-wrap .main-header .header-menu li:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,.1);
    transition : background-color 0.5s ease 0s;
}
/*.navbar .collapse ul li:active {
    background-color: rgba(255,255,255,.1);
    transition : background-color 0.5s ease 0s;
}*/
.main-header-wrap.header-desktop .main-header .header-menu .dropdown li {
    display: block !important;
}
.main-header-wrap .main-header .logo {
    position: absolute;
    /*    height: 33px;
        width: 146px;*/
    margin-left: -73px;
    bottom: 0;
    left: 50%;
    display: inline-block;
    -moz-transition: bottom 0.2s;
    -o-transition: bottom 0.2s;
    -webkit-transition: bottom 0.2s;
    transition: bottom 0.2s;
}

.main-header-wrap.header-mobile {
    height: 70px;
    overflow: hidden;
}

.main-header-wrap.header-mobile .main-header {
    height: 70px;
    border-color: transparent;
}
.main-header-wrap.header-mobile .main-header .btn-menu-toggle {
    position: relative;
    width: 30px;
    height: 30px;
    left: 0;
    display: block;
    z-index: 9999;
}
.main-header-wrap.header-mobile .main-header .logo {
    bottom: 16px;
}
.main-header-wrap .main-header .logo {
    position: absolute;
    /*    height: 33px;
        width: 146px;*/
    margin-left: -115px;
    bottom: 0;
    left: 50%;
    display: inline-block;
    -moz-transition: bottom 0.2s;
    -o-transition: bottom 0.2s;
    -webkit-transition: bottom 0.2s;
    transition: bottom 0.2s;
}
.main-header-wrap.header-mobile .main-header .logo img {
    width: 80%;
}
.main-header-wrap.header-mobile .main-header .btn-menu-toggle:before {
    content: "";
    background: transparent url(../img/svg/icon-sprite.svg) no-repeat -50px 0;
    background-size: 350px 100px;
    position: absolute;
    z-index: 1;
    display: block;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    width: 16px;
    height: 16px;
}
/*content: url(../images/accident_logo_small_blue.png) !important;*/
.main-header-wrap .main-header.sml {
    background: #fff;
}
.main-header-wrap .main-header.white-header {
    background: #fff !important;
    height: 70px !important;
    border-color: #DADADA !important;
}
.main-header-wrap .main-header.sml .logo img,
.main-header-wrap .main-header.white-header .logo img {
    content: url(../images/accident_logo1.png);
}
.main-header-wrap .main-header.white-header .logo img {
    content: url(../images/accident_logo1.png);
    width: 61%;
}
.main-header-wrap .main-header.sml li a,
.main-header-wrap .main-header.white-header li a {
    color: #4A4A4A;
}
.main-header-wrap .main-header.sml .logo .accident-logo {
    /*widows: 80%;*/
    background-image: url(../images/accident_logo_small.png);
}
.main-header-wrap .main-header.sml {
    height: 70px;
    border-color: #DADADA;
}
.main-header-wrap .main-header.sml .logo,
.main-header-wrap .main-header.white-header .logo {
    bottom: 16px;
    /*height: 44px*/
}
.main-header-wrap .main-header.sml .logo img {
    width: 61%;
}
#mobile-menu {
    background: #313131;
    position: fixed;
    z-index: 1002;
    top: 0;
    bottom: 0;
    left: 0;
    width: 280px;
    padding: 30px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -moz-transition: -moz-transform 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
#mobile-menu .btn-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
}
#mobile-menu .btn-close:before {
    content: "";
    background: transparent url(../img/svg/icon-sprite.svg) no-repeat 0 -38px;
    background-size: 350px 100px;
    position: absolute;
    z-index: 1;
    display: block;
    overflow: hidden;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -6px;
}
body.menu-shown #mobile-menu {
    moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#mobile-menu .btn-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
}
#mobile-menu .nav-links li {
    color: #B7B7B7;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 20px;
}
#mobile-menu .nav-links li a {
    color: #fff;
    text-decoration: none;
    display: block;
}
.main-header-wrap.header-desktop .main-header .btn-consultation,
.main-header-wrap.header-mobile .main-header .btn-consultation {
    line-height: 2.5rem;
    height: 2.5rem;
    padding: 0 2rem;
    position: absolute;
    right: 20px;
    top: 15px;
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: -o-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main-header-wrap.header-desktop .main-header .btn-consultation.active,
.main-header-wrap.header-mobile .main-header .btn-consultation.active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.btn-standard {
    font-weight: 600;
    position: relative;
    background-color: #F7F7F7;
    border: 1px solid #DADADA;
    text-decoration: none;
    text-transform: uppercase;
    color: #4A4A4A;
    display: inline-block;
    padding: 0 9.5rem;
    height: 6rem;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.btn-standard.btn-orange {
    background-color: #ff9800;
    color: #fff;
    border: 0;
    box-shadow: 0px 10px 40px -10px rgba(255,0,131,0.5);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: all 0.2s, -moz-transform 0.5s;
    -o-transition: all 0.2s, -o-transform 0.5s;
    -webkit-transition: all 0.2s, -webkit-transform 0.5s;
    transition: all 0.2s, transform 0.5s;
}

.header-menu li.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    background-color: #f9f9f9;
    min-width: 155px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px  solid;
}
.dropdown-content li {
    padding: 7px 16px !important;
    display: block;
    text-align: left;
}
.dropdown-content li:hover {
    background-color: rgb(107, 151, 181) !important;
    transition : background-color 0.5s ease 0s !important;
}
#mobile-menu li:hover {
    cursor: pointer;
}
.dropdown-content li a {
    color: #000 !important;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
}/*
.dropdown-content li:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}*/


#reccomended .item {
    margin: 10px;
}
#reccomended .item .review_listing {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(3, 27, 78, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(3, 27, 78, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(3, 27, 78, 0.1);
}

#reccomended .owl-item {
    opacity: 0.5;
    transform: scale(0.85);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(0.85, 0.85);
    transition: all 0.3s ease-in-out 0s;
    overflow: hidden;
}

#reccomended .owl-item.active.center {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: scale(1);
}

#reccomended .owl-item.active.center .item .title h4,
#reccomended .owl-item.active.center .item .views {
    opacity: 1;
}

.review_listing {
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 25px;
    box-sizing: content-box;
    box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
    margin-bottom: 30px;
}
.review_listing figure {
    width: 40px;
    height: 40px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    display: block;
    position: relative;
    float: left;
    margin-right: 15px;
    /*    margin-left: auto;
        margin-right: auto;*/
}
.review_listing figure img {
    width: 40px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.review_listing small {
    display: block;
    font-weight: 500;
    margin-top: 3px;
    font-size: 13px;
    font-size: 0.8125rem;
}
.review_listing h3 {
    font-size: 14px;
    font-size: 0.875rem;
    color: #999;
    margin: 8px 0 3px 0;
}
.review_listing h3 strong {
    color: #222;
    font-weight: 500;
}
.review_listing h4 {
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 15px;
}
.review_listing ul {
    margin: 0;
    text-align: center;
    color: #999;
}
.review_listing ul li {
    display: inline-block;
}
.review_listing ul li:first-child {
    float: left;
}
.review_listing ul li:last-child {
    float: right;
}
.review_listing ul li strong {
    margin-right: 3px;
    font-weight: 600;
}

.rating {
    color: #999;
    font-size: 12px;
    font-size: 0.75rem;
}
.rating i {
    width: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    height: 20px;
    font-size: 12px;
    font-size: 0.75rem;
    display: inline-block;
    background-color: #32a067;
    color: #fff;
    line-height: 20px;
    text-align: center;
    margin-right: 2px;
}
.rating i.empty {
    background-color: #ccc;
}
.rating small {
    display: inline-block;
    margin-left: 10px;
}

.margin_60_35 {
    padding-top: 60px;
    padding-bottom: 35px;
}
.box_style_cat {
    background: #fff;
    border: 1px solid #ededed;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}
@media (max-width: 991px) {
    .box_style_cat {
        display: none;
    }
}

ul#cat_nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#cat_nav li {
    border-bottom: 1px solid #ededed;
}
ul#cat_nav li i {
    font-size: 16px;
    font-size: 1rem;
    margin: 2px 10px 0 0;
    float: left;
}
ul#cat_nav li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
ul#cat_nav li a {
    position: relative;
    color: #555;
    display: block;
    padding: 15px 10px;
}
ul#cat_nav li a:after {
    font-family: "fontello";
    content: "\e89b";
    position: absolute;
    right: 15px;
    top: 15px;
}
ul#cat_nav li a span {
    font-size: 11px;
    font-size: 0.6875rem;
    color: #999;
}
ul#cat_nav li a:hover, ul#cat_nav li a#active, ul#cat_nav li a.active {
    color: #004dda;
}
ul#cat_nav li a {
    font-size: 0.8rem;
}
.nomargin_top {
    margin-top: 0;
}
.add_bottom_45 {
    margin-bottom: 45px;
}
.accordion_2 .card {
    border: 0;
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}
.accordion_2 .card .card-header {
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    padding: 20px;
}
.accordion_2 .card-body {
    padding-bottom: 0;
}
.accordion_2 .card-header h5 {
    font-size: 16px;
    font-size: 1rem;
}
.accordion_2 .card-header h5 a {
    border: 0;
    display: block;
    color: #000;
}
.accordion_2 .card-header h5 a i.indicator {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: normal;
    float: right;
    color: #004dda;
}

.card {
    border-radius: 0;
    border: 0;
    margin-bottom: 5px;
}
header.header_in.is_sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
} 
.sub_header_in.sticky_header {
    margin-top: 58px;
}
@media (max-width: 991px) {
    .sub_header_in.sticky_header {
        margin-top: 48px;
    }
} 

.sub_header_in.sticky_header {
    margin-top: 58px;
}
.sub_header_in {
    background-color: #004dda;
    padding: 20px 0;
}
.sub_header_in h1 {
    color: #fff;
    margin: 0;
    font-size: 26px;
    font-size: 1.625rem;
}

@media (max-width: 700px) {
    .main-header-wrap.header-mobile .main-header .btn-consultation {
        padding: 0 0.5rem;
    }
}
@media (max-width: 767px) {
    .main-header-wrap .main-header {
        padding: 10px;
    }
}
@media (min-width: 768px) {
    .header-mobile {
        display: none;
    }
}
@media (max-width: 1024px) {
    .header-desktop {
        display: none;
    }
    .header-mobile {
        display: block;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
{
    .accident-type-logos .col-md-2 {
        /* width: 100% !important; */
    }
}